<section> <div class="col-six tab-full right">
                <h3>Yeteneklerim</h3>

                <ul class="skill-bars">
                    <li>
                    <div class="progress percent80"><span>80%</span></div>
                    <strong>HTML5</strong>
                    </li>
                    <li>
                    <div class="progress percent75"><span>75%</span></div>
                    <strong>CSS3</strong>
                    </li>
                    <li>
                    <div class="progress percent50"><span>50%</span></div>
                    <strong>Flutter</strong>
                    </li>
                    <li>
                    <div class="progress percent70"><span>70%</span></div>
                    <strong>JS</strong>
                    </li>
                    <li>
                    <div class="progress percent70"><span>70%</span></div>
                    <strong>Pyhton</strong>
                    </li>
                    <li>
                    <div class="progress percent75"><span>75%</span></div>
                    <strong>Unity</strong>
                    </li>  
                </ul>
            </div>
     </section>
        </div>